<%- include('partials/header'); -%>
    <h1>Home</h1>
    <p><%= homeContent %></p>
    <ul>
        <% for(var i=0; i<posts.length; i++) {%>
            <li>{<%= posts[i].title %> : <%= posts[i].post %>} </li>
        <% } %>
    </ul>
<%- include('partials/footer'); -%>